admin.txt
banned-ips.json
banned-players.json
crash-reports
eula.txt
minecraft_server.ja
ops.json
ops.txt.converted
server.bat
server.properties
smcntn
usercache.json
whitelist.json
minecraft_server.jar